- if escort.from_police? && escort.detainee_gender == 'female'
  = f.radio_toggle_with_textarea :pregnant,toggle_options: ['yes']

= f.radio_toggle_with_textarea :physical_issues, toggle_options: ['yes']
