= f.radio_toggle_with_textarea :personal_care, toggle_options: ['yes']
- if escort.from_police? && escort.detainee_gender == 'female'
  = f.radio_toggle_with_textarea :female_hygiene_kit, toggle_options: ['yes']
