@mixin alert-variant($border, $bg) {
  border: 1px solid $border;
  background-color: $bg;
}

.alert {
  @extend .padded;

  b {
    font-weight: bold;
  }

  ul {
    padding-left: 20px;
  }
}

.alert--notice {
  @include alert-variant(#F4D188, #FAF2C5)
}

.alert--warning {
  background-color: #FAF1C5;
}

.alert--alert {
  @include alert-variant(#F4D188, #FAF1C5)
}

.alert--error {
  border: 5px solid #B10E1E;
  color: #B10E1E;
  font-weight: bold;
}

.flag {
  &::after {
    content: "✔";
    margin-left: 6px;
  }

  box-sizing: border-box;
  font-family: 'arial narrow', sans-serif;
  display: inline-block;
  color: white;
  background-color: #B10E1E;
  padding: 2px 6px;
  margin-right: 2px;
  margin-top: 5px;
  border: solid 2px #B10E1E;
}
