.button {
  margin-right: $margin-unit;
  margin-bottom: $margin-unit;
}

.button-secondary{
  @include button($grey-3);
}

.button-inline {
  @include button();
  font-size: 24px;
  padding: 9px 51px 5px 20px;
  margin-right: $margin-unit;
  margin-bottom: $margin-unit;
  margin-left: $margin-unit;
}

.button-print {
  background-image:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAb1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8v0wLRAAAAJHRSTlMAAgUHDA0PEBkeICImKy4xN1Z3e46VrbCytLW3xdXZ4PP19/lql+ciAAAAh0lEQVQoz6XS0Q7BQBBA0cEoFqXoUoOW3v//Rg+ItkYTcZ92cx5msxmRvkK0Z8U2aULkXR0aYLxOU6hnX4DbxIEEIHdA0iwrrx60bz/CaFNUHTju5iKDC9ABYCGBz3RMLqkDIWAuwB+wanR+wBL3uXsRVT11QFWH/X8V24MrZxnMzA7r3s25A2wiIk6Al+uuAAAAAElFTkSuQmCC);
   background-repeat: no-repeat;
   background-position: 10px center;
   background-size: 20px;
   padding-left: 40px;
   padding-right: 40px;
}
