.date-picker-wrapper {
  line-height: 45px;

  span.date-picker-field {
    position: relative;
    display: table;
    border-collapse: separate;
    float: left;

    input.date-field {
      position: relative;
      float: left;
      display: table-cell;
      height: 45px;
      width: 100%;
      z-index: 2;
      vertical-align: middle;
      display: inline-block;
      margin-bottom: 0;
      border-right: 0;

      &.no-script {
        border-right: 2px solid #6f777b;
      }
    }

    span.calendar-icon {

      &.no-script {
        display:none;
      }

      cursor: pointer;
      display: table-cell;
      z-index: 999;
      border-width: 2px 2px 2px 0;
      border-style: solid;
      border-color: #6f777b;
      vertical-align: middle;
      width: 45px;
      background-image: image-url('ic_calendar.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
  }

  &.error {
    span.date-picker-field {
      input.date-field {
        &.no-script {
          border-right: 4px solid #b10e1e;
        }
      }

      span.calendar-icon {
        border-width: 4px 4px 4px 0;
        border-color: #b10e1e;
      }
    }
  }
}

.date-radios {
  margin-top: -25px;
}
