.escort {
  b {
    font-weight: bold;
  }

  h2 {
    @extend .heading-medium;
    margin-bottom: .25em;
    margin-top: 1.875em;
    font-size: 24px;

    small {
      font-size: .75em;
    }
  }

  .image-and-alerts {
    clear: both;
    height: 180px;

    .escort-image-wrapper {
      position: relative;
      display: table;
      float: left;
      width: auto;

      .image {
        width: 128px;
        height: 180px;

        img {
          top: 0;
          left: 0;
        }
      }

      .no-image {
        width: 128px;
        height: 180px;
        line-height: 180px;
        padding: 1px;
        background-image: image-url('photo_unavailable.png');
        background-position: center center;
        background-repeat: no-repeat;
        text-align: center;
        font-size: 12px;
      }
    }

    .escort-alerts {
      position: relative;
      display: table;
      float: left;
      width: 100%;
    }

    .alerts-table {
      width: 100%;
      clear: both;

      .info-tiles {
        height: 90px;
        min-height: 90px;

        .alert-tile {
          vertical-align: top;
        }

        .alert-off {
          display: inline-block;
          border: 2px solid $secondary-text-colour;
          background-color: white;
          text-transform: uppercase;
          padding: 0.2em 0.5em;
          color: $secondary-text-colour;
          font: 19px "Arial Narrow";
          font-weight: bold;

          .alert-toggle-text {
            padding-left: 5px;
            text-transform: uppercase;
            font: 19px "Arial Narrow";
            font-weight: bold;
          }
        }

        .alert-on {
          border: 2px solid $mellow-red;
          background-color: $mellow-red;
          position: relative;
          display: inline-block;

          .alert-title {
            text-transform: uppercase;
            padding: 0.2em 0.5em;
            color: white;
            font: 19px "Arial Narrow";
            font-weight: bold;
            position: relative;
            float: left;
          }

          .red-tick {
            width: 30px;
            height: 30px;
            background-image: image-url('ic_red_tick.png');
            background-position: center center;
            background-repeat: no-repeat;
            display: inline-block;
            position: relative;
            float: left;
          }

          .alert-toggle-text {
            padding: 0 5px;
            margin-top: 3px;
            margin-right: 3px;
            background-color: white;
            color: $mellow-red;
            text-transform: uppercase;
            font: 19px "Arial Narrow";
            font-weight: bold;
            position: relative;
            float: left;
          }
        }

        .alert-text {
          display: block;
          padding-top: 5px;
        }
      }
    }
  }

  .move-information {
    clear: both;
    overflow: auto;
  }

  .info-tiles {
    display: table;
    width: 100%;
    margin-bottom: 1px;
  }

  .empty {
    display: table-cell;
    width: (100% / 3);
  }

  .tile {
    @extend .empty;
    @extend .padded;
    background-color: $grey-3;
    border-left: 1px solid white;
  }

  .tile-2 {
    @extend .tile;
    width: (100% / 2);
  }

  .tile-3 {
    @extend .tile;
    width: (100% / 3);
  }

  .tile-4 {
    @extend .tile;
    width: (100% / 4);
  }

  .float-right {
    float: right;
  }

  .info-table {
    @extend .padded;
    background-color: $grey-3;
    font-size: 0.85em;
    margin-bottom: 0.85em;

    small {
      display: block;
    }

    p {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .attention {
      color: red;
    }
  }

  ul.info-list {
    list-style: none;
    margin-top: 5px;

    li {
      font-weight: bold;
    }
  }

  .column-one-sixth {
    @extend .column-one-third;
    width: (100% / 6);
  }

  .info-table-big {
    p {
      margin: 0;
      font-size: 2em;
    }
  }

  .status {
    float: right;
  }

  .actions {
    margin-top: 60px;
    list-style-type: none;
    li { float: left; margin-right: 20px; }
    li.link-return-home a { display: inline-block; margin-top: 10px; }
  }
}
