.escort {
  b {
    font-weight: bold;
  }

  .empty {
    display: table-cell;
    width: (100% / 3);
  }

  .tile {
    @extend .empty;
    @extend .padded;

    p {
      font-weight: bold;
      font-size: 19px;
      margin: 0px 0px;
    }

    h6 {
      font-size: 16px;
    }

    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 0px 15px 0px;
  }

  .tile-2 {
    @extend .tile;
    width: (100% / 2);
  }

  .tile-3 {
    @extend .tile;
    width: (100% / 3);
  }

  .tile-4 {
    @extend .tile;
    width: (100% / 4);
  }

  .data_container {
    width: 66%;
    display: inline-block;
  }

  .float-right {
    float: right;
  }

  .status {
    float: right;
  }

  .actions {
    margin-top: 60px;
    list-style-type: none;
    li { float: left; margin-right: 20px; }
    li.link-return-home a { display: inline-block; margin-top: 10px; }
  }

  .header {
    border-top: solid 3px #0B0C0C;
    border-bottom: solid 1px #0B0C0C;
    padding: 15px 10px 0px 0px;
    margin-bottom: 0px;
    margin-top: 40px;
    background-color: white;
    min-height: 60px;

    span.section-title {
      font-weight: bold;
      font-size: 28px;
    }

    p.review {
      margin: 0px 0px 15px;
      font-size: 16px;
    }
  }

  tr {
    &:last-child {
      td {
        border: 0;
      }
    }

    td.question {
      vertical-align: top;
      width: 30%;
    }

    td.answer {
      width: 70%;
    }
  }
}
