html,
body,
button,
input,
table,
td,
th,
main,
#global-header .header-proposition #proposition-name,
#global-header .header-proposition a.menu,
#global-header .header-proposition #proposition-link a,
#global-header .header-proposition #proposition-links a,
#global-cookie-message p,
#footer h2,
#footer .footer-meta .footer-meta-inner ul,
#footer .footer-meta .footer-meta-inner .open-government-licence p,
#footer .footer-meta .copyright,
.button-start,
.button-get-started,
#signed-in-box,
.font-xxlarge,
.font-xlarge,
.font-large,
.font-medium,
.font-small,
.font-xsmall,
.bold-xxlarge,
.bold-xlarge,
.bold-large,
.bold-medium,
.bold-small,
.bold-xsmall,
.heading-xlarge,
.heading-xlarge .heading-secondary,
.heading-large,
h1,
.summary header h1,
.heading-large .heading-secondary,
h1 .heading-secondary,
.summary header h1 .heading-secondary,
.heading-medium,
form h2,
.search_block h2,
.heading-secondary,
.heading-small,
.summary h3,
.lede,
.link-back,
.form-label,
.form-label-bold,
.form-hint,
.form-control,
.error-message,
.circle,
table th,
table td,
table td.numeric,
.table-font-xsmall th,
.table-font-xsmall td,
.breadcrumbs li,
.phase-banner p,
.phase-banner .phase-tag,
.phase-banner-alpha p,
.phase-banner-beta p,
.phase-banner-alpha .phase-tag,
.phase-banner-beta .phase-tag,
.phase-tag,
.summary header p,
.alpha-banner p,
.alpha-banner .phase-tag {
  font-family: Arial, arial, sans-serif;
}

@media (min-width: 769px) {
 #global-header .header-proposition #proposition-link a, #global-header .header-proposition #proposition-links a {
   font-family: Arial, arial, sans-serif;
 }
}


// Width adjustments because using Arial in the footer makes the license statement have a linebreak...
@media (min-width: 641px) {
  #footer .footer-meta .footer-meta-inner {
    width: 77%;
  }
  #footer .footer-meta .copyright {
    width: 23%;
  }
}
