.form-wrapper {
  margin-top: 10px;
}

.form-label{
  font-weight: bold;
}

.form-label-assessment{
  font-size: 24px;
}

form {
  @include media(desktop) {
    .form-hint {
      padding: 10px 0 8px 0;
    }
  }

  h2 {
    @extend .heading-medium;
    margin-bottom: .25em;
    margin-top: 1.875em;
    font-size: 24px;
  }

  legend {
    font-weight: bold;
  }

  label.form-label {
    font-weight: bold;
  }

  .checkbox-list input[type='checkbox'] {
    margin-right: 20px;
  }

  input.form-control, input.autocomplete__input {
    @include media(desktop) {
      max-width: 13em;
    }
  }

  select {
    font-size: 19px;
    line-height: 1.31579;
    border: 1px solid $grey-2;
    width: 13em;
  }

  .multiple {
    position: relative;
    margin-bottom: 20px;
    float: left;
  }

  .multiple-wrapper {
    float: left;
    clear: left;
    width: 100%;
    padding-top: 30px;

    h2 {
      margin: 0 0 10px 0;
    }

    .remove-link {
      label {
        @extend .styled-as-link;
      }

      input[type='checkbox'] {
        position: absolute;
        left: -2000px;
      }
    }

    &.multiple-not-first {
      @include media(desktop) {
        label.form-label {
          display: none;
        }

        .form-control, select {
          margin-top: 0 !important;
        }

        .remove-link {
          margin-top: 5px !important;
        }
      }
    }

    .multiple-field {
      float: left;
      clear: left;
      width: 100%;
      margin-bottom: 20px;

      .form-group {
        margin-bottom: 0;
      }

      &.inline {
        @include media(desktop) {
          clear: none;
          width: auto;
          margin-right: 28px;
          position: relative;

          .form-control {
            width: 100%;
            margin-top: 30px;
          }

          select {
            margin-top: 30px;
          }

          .form-label {
            position: absolute;
          }

          &.remove-link {
            margin-top: 35px;
            margin-right: 0;
          }
        }
      }

      &.wide {
        @include media(desktop) {
          width: 30em;
        }
      }

      &.clear {
        @include media(tablet) {
          clear: both;
        }
      }

      label {
        font-weight: normal;
      }
    }
  }

  .multiple-add {
    padding-top: 30px;

    input {
      @extend .styled-as-link;
    }
  }

  .form-actions {
    clear: both;
  }

  .more-info {
    clear: both;
    width: 70%;
    margin-bottom: 30px;

    h2 { font-weight: bold; }
    p { margin: 0; }
  }

  .button-add-another-vertical,
  .button-add-another {
    background-color: #eee;
    color: #000;
    box-shadow: 0 2px 0 #666;
  }

  .button-add-another-vertical:hover,
  .button-add-another:hover {
    background-color: #ccc;
    color: #000;
    box-shadow: 0 2px 0 #666;
  }

  .button-add-another-vertical:focus,
  .button-add-another:focus {
    background-color: #ccc;
    color: #000;
    box-shadow: 0 2px 0 #666;
  }

  .remove-list-item-vertical {
    display: block;
  }
}
