.healthcare {
  .heading-medium {
    @extend .heading-small;
  }

  .nested-medication-field {
    @extend .column-one-quarter;
    .form-control {
      width: 100%;
    }
  }

  .remove-link {
    margin-top: 30px;
  }

  #medications {
    label {
      font-weight: normal;
    }
  }

  .add_medication {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    margin-left: 30px;
  }
}
