.padded {
  padding: $padding-large $padding-unit;
}

.questions-nav {
  margin-top: 2 * $margin-unit;

  span {
    margin-right: 10px;
  }
  .current-question {
    color: grey;
  }
}

.js-show-hide {
  @extend .form-group;
}

.toggle_with_error {
  margin-top: 10px;
}

.text-error {
  color: red;
}

.float-right {
  float: right;
}

// Style a label or an Input to look like a link
.styled-as-link {
  color: $govuk-blue;
  text-decoration: underline;
  padding: 0;
  border: none;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}

// Javascript helper - makes it slightly easier to include non-JS specific styles
// in your component style blocks.

// Usage: write base styles for site with no JS, then add js-only styles on top.
//
// .object {
//   display: none;
//
//   @include js-only {
//     display: block;
//   }
// }

@mixin js-only {
  .js-enabled & {
    @content;
  }
}

.mps-hide {
  @include js-only {
    left: -1000px;
    position: absolute;
    visibility: hidden;
  }
}

.no-script {
  display: none;
}

.list-bullet {
  list-style-type: disc;
  padding-left: 20px;
  padding-bottom: 10px;
}
