.search_module {
  padding: $padding-large $padding-unit;
  border-bottom: 1px solid $grey-3;
  background-color: $grey-3;

  table {
    margin-top: $margin-unit;
    margin-bottom: $margin-unit;

    th {
      font-weight: normal;
      border: none;
    }

    td {
      border: none;
    }

    @include media(desktop) {
      max-width: 85%;
    }
  }

  .strong-text {
    font-weight: bold;
  }
}

.search_block {
  h2 {
    @extend .heading-medium;
    margin: 0;
    @include media(desktop) {
      position: relative;
      top: 0.1em;
      display: inline-block;
      margin-right: $margin_unit;
    }
  }

  form {
    @include media(desktop) {
      display: inline-block;
      margin-right: $margin_unit;
    }
  }

  legend {
    @extend .visuallyhidden;
  }

  label {
    @include media(desktop) {
      position: relative;
      top: 0.1em;
      margin-right: $margin_unit;
    }
  }

  .form-group {
    @include media(desktop) {
      display: inline-block;
      width: 18em;
      float: none;
      margin-bottom: none;
    }
  }

  .search_button {
    @extend .button;
    box-shadow: none;
    line-height: 1.2;
    width: 2em;
    margin-left: 1px;
    background-image: image-url('ic_search.png');
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent;
    &:hover {
      color: transparent;
    }
    text-indent: -9999px;
  }

  .search_input_wrapper {
    @include media(desktop) {
      display: inline-block;
      width: 18em;
    }
  }
  + .button {
    margin-top: $margin-unit;
  }
}

.date-picker {
  > input { float: left; }
  margin-top: 20px;

  span.label {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
  }
  .date-field input {
    max-width: 6em;
  }
  input.go {
    background-color: green;
    color: white;
    border: none;
    padding: 6px;
    margin-right: 10px;
    margin-left: 2px;
  }
  .nav-group input {
    background-color: #EFF0F1;
    border-color: #AEAEAE;
    border-width: 1px;
    border-style: solid;
    color: #3D7EB4;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-group input[value='today'] {
    text-decoration: underline;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  input[type='submit'] { cursor: pointer; }
}

.status_gauges {
  float: left;
  width: 100%;
  margin: 25px 0;


  .gauge_wrapper {
    float:left;
    margin-right: 50px;

    .title { float: left; }

    .gauge {
      float: left;
      clear: left;
      height: 2em;
      width: 2em;
      line-height: 2em;
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
      border-radius: 50%;
      border-width: 2px;
      border-style: solid;
      margin-top: 5px;
    }
  }

  .gauge_wrapper.detainees {
    .title { color: black; }
    .gauge {
      background-color: black;
      color: white;
      border-color: black;
    }
  }

  .gauge_wrapper.incomplete {
    .title { color: red; }
    .gauge {
      background-color: white;
      color: red;
      border-color: red;
    }
  }

  .gauge_wrapper.complete {
    .title { color: green; }
    .gauge {
      background-color: green;
      border-color: green;
      color: white;

      span { display: none; }
      &:after { content: '\2714'; }
    }
  }
}

.moves {
  margin-top:40px;

  span.strong-text { font-weight: bold; }
  th {
    font-weight: normal;
    font-size: 90%;
  }
  th.prison_number { width: 5.5em; }
  th.name { width: 17em; }
  th.destination { width: 13em; }

  tr:nth-child(even) {
    background-color: #F2F3F4;
  }

  span.true {
    background-color: #108245;
    border-color: #108245;
  }

  span.false {
    background-color: white;
    border-color: #DF464D;
  }

  .completion-status span {
    display: inline-block;
    width: 3em;
    height: 13px;
    border-width: 2px;
    border-style: solid;
  }

  .issued { color: green; font-weight: bold; }
}
