#wrapper {
  border-bottom: 10px solid #005ea5;
}

h1 {
  @extend .heading-large;
}

.header-proposition {
  position: relative;
}

.link-wrapper {
  padding: $padding-large 0;
}

#global-cookie-message {
  display: none !important;
}

.column-one-quarter {
    float: left;
    width: 25%;
}

.column-three-quarters {
    float: left;
    width: 75%;
}

.column-one-fifth {
  float: left;
  width: 20%;
}

.column-two-fifths {
  float: left;
  width: 40%;
}
