#wrapper {
  border-bottom: 10px solid #005ea5;
}

h1 {
  @extend .heading-large;
}

.heading-medium {
  @extend .heading-small;
}

.header-proposition {
  position: relative;
}

.link-wrapper {
  padding: $padding-large 0;
}

#global-cookie-message {
  display: none !important;
}
