.move {
  h1 {
    @extend .heading-large;
  }
  .heading-medium {
    @extend .heading-small;
  }

  label[for$="_reasons"] {
    font-weight: normal;
    padding-top: $padding-large;
  }

  .establishment-field {
    @extend .column-one-third;
    .form-control {
      width: 100%;
    }
  }

  .must-return-field {
    @extend .column-two-thirds;
    @extend .inline;
  }

  .remove-link {
    margin-top: 20px;
  }

  .add_destination {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    margin-left: 30px;
  }
}
