.profile {
  b {
    font-weight: bold;
  }

  h2 {
    @extend .heading-medium;
    margin-bottom: .25em;
    margin-top: 1.875em;
    font-size: 24px;

    small {
      font-size: .75em;
    }
  }

  .info-tiles {
    display: table;
    width: 100%;
    margin-bottom: 1px;
  }

  .empty {
    display: table-cell;
    width: (100% / 3);
  }

  .tile {
    @extend .empty;
    @extend .padded;
    background-color: $grey-3;
    border-left: 1px solid white;
  }

  .float-right {
    float: right;
  }

  .info-table {
    @extend .padded;
    background-color: $grey-3;
    font-size: 0.85em;
    margin-bottom: 0.85em;

    small {
      display: block;
    }

    p {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .attention {
      color: red;
    }
  }

  .column-one-sixth {
    @extend .column-one-third;
    width: (100% / 6);
  }

  .info-table-big {
    p {
      margin: 0;
      font-size: 2em;
    }
  }

  .status {
    float: right;
  }

  .actions {
    margin-top: 60px;
    list-style-type: none;
    li { float: left; margin-right: 20px; }
    li.link-return-home a { display: inline-block; margin-top: 10px; }
  }
}
