.summary {
  header {
    h1 {
      @extend .heading-large;
    }

    p {
      @include heading-24;
    }
  }

  h3 {
    @extend .heading-small;
  }

  table {
    border-bottom: 2px solid $border-colour;
    margin-bottom: 1em;

    th,
    td {
      border-bottom: none;
    }

    th {

      a {
        font-weight: 300;
      }

      &.title {
        font-weight: bold;
        text-align: left;
      }

      &.edit {
        text-align: right;
      }
    }

    td {
      padding: 0.6em;
    }

    b {
      font-weight: 700;
    }

    .first-column {
      width: 30%;
    }

    .second-column {
      width: 20%;
    }

    .third-column {
      width: 50%;
    }
  }

  tr.even td {
    background-color: $highlight-colour;
  }
}
