.heading-light {
  font-weight: normal;
}

.heading-bold {
  font-weight: bold;
}

.heading-smaller {
  font-size: 24px;
}

.heading-secondary {
  font-size: 22px;
  font-weight: normal;
  color: grey;

  @extend .heading-medium;
  margin-bottom: 30px;
}

.info {
  font-size: 16px;
  font-style: italic;
}

.notice {
  padding: 20px;
  background-color: #FAF2C5 !important;
  margin-bottom: 20px;
}
