= form_for form, url: form_path, method: :put do |f|
  = f.radio_toggle_with_textarea :personal_hygiene

  = f.radio_toggle_with_textarea :personal_care

  = render partial: 'buttons', locals: { f: f }
