= f.radio_toggle_with_textarea :uses_weapons
= f.radio_toggle_with_textarea :conceals_weapons
= f.radio_toggle_with_textarea :conceals_drugs
= f.radio_toggle_with_textarea :conceals_mobile_phone_or_other_items

- if escort.from_prison?
  = f.radio_toggle_with_textarea :substance_supply
