- if escort.from_prison?
  = f.radio_toggle_with_textarea :intimidation_public, toggle_options: ['yes']
  = f.radio_toggle_with_textarea :intimidation_prisoners, toggle_options: ['yes']
  = f.radio_toggle_with_textarea :gang_member, toggle_options: ['yes']
