= f.radio_toggle_with_textarea :hostage_taker, toggle_options: ['yes']

- if escort.from_police?
  = f.radio_toggle_with_textarea :sex_offence, toggle_options: ['yes']

  = f.custom_radio_button_fieldset :arson
