@mixin alert-variant($border, $bg) {
  border: 1px solid $border;
  background-color: $bg;
}

.alert {
  @extend .padded;

  b {
    font-weight: bold;
  }

  ul {
    padding-left: 20px;
  }
}

.alert--notice {
  @include alert-variant(#f4d188, #faf2c5)
}

.alert--warning {
  background-color: #faf1c5;
}

.alert--alert {
  @include alert-variant(#f4d188, #faf1c5)
}

.alert--error {
  font-weight: bold;
  color: #b10e1e;
  border: 5px solid #b10e1e;
}

.alert--warning {
  @extend .govuk-body;

  .summary & {
    min-height: 50px;
    padding: 20px;
    margin: 20px 0;
  }

  .govuk-warning-text {
    padding: 0;
    margin-bottom: 0;

    p:last-child {
      margin-bottom: 0;
    }
  }

  input[type="button"],
  input[type="submit"] {
    margin-bottom: 0;
  }
}
