.button-inline {
  margin-left: 10px;
}

.styled-as-link {
  color: $govuk-link-colour;
  text-decoration: underline;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: inherit;
  &:hover {
    cursor: pointer;
  }

  .govuk-header & {
    color: govuk-colour("white");
  }
}

.button-print {
  background-image:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAb1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8v0wLRAAAAJHRSTlMAAgUHDA0PEBkeICImKy4xN1Z3e46VrbCytLW3xdXZ4PP19/lql+ciAAAAh0lEQVQoz6XS0Q7BQBBA0cEoFqXoUoOW3v//Rg+ItkYTcZ92cx5msxmRvkK0Z8U2aULkXR0aYLxOU6hnX4DbxIEEIHdA0iwrrx60bz/CaFNUHTju5iKDC9ABYCGBz3RMLqkDIWAuwB+wanR+wBL3uXsRVT11QFWH/X8V24MrZxnMzA7r3s25A2wiIk6Al+uuAAAAAElFTkSuQmCC);
   background-repeat: no-repeat;
   background-position: 10px center;
   background-size: 20px;
   padding-left: 40px;
   padding-right: 40px;
}

.actions {
  padding-left: 0;
  margin-top: 60px;
  list-style-type: none;

  li {
    float: left;
    margin-right: 20px;
  }

  li.link-return-home a {
    display: inline-block;
    margin-top: 10px;
  }
}
