table.court-dashboard {
  thead {
    tr {
      border-top: 1px solid #6f777b;

      th {
        font-size: 16px;
      }
    }
  }

  tbody {
    &.clickable {
      &:hover {
        cursor: pointer;
        background-color: #ffffd4;
      }
    }

    tr {
      &:nth-child(odd) {
        border-top: 1px solid #6f777b;
      }

      td {
        border: 0;

        span.surname {
          margin-right: 5px;
          font-weight: bold;
        }

        img.person {
          display: block;
          width: 86px;
          height: 108px;
          padding: 2px 0 2px 2px;
          margin: 0;
        }
      }
    }
  }
}

.court-dashboard-indicators {
  margin-top: 20px;
  margin-bottom: 40px;
}

.prisoner-image {
  width: 80px;
}

.prisoner-number {
  width: 90px;
}

.detainee-photo {
  height: 112px;
}

.no-court-dashboard-image {
  width: 80px;
  height: 108px;
  margin-left: 4px;
  font-size: 12px;
  line-height: 108px;
  text-align: center;
  background-image: image-url("photo_unavailable.png");
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #6f777b;
}
