span.true {
  background-color: #108245;
  border-color: #108245;
}

span.false {
  background-color: #fff;
  border-color: #df464d;
}

.completion-status span {
  display: inline-block;
  width: 3em;
  height: 13px;
  border-style: solid;
  border-width: 2px;
}

.issued {
  font-weight: bold;
  color: #008000;
}

.cancelled {
  margin-right: 10px;
  font-weight: bold;
  color: #008000;
}

.approved {
  margin-right: 10px;
  font-weight: bold;
  color: #000;
}

.awaiting_approval {
  color: #808080;
}
