a.help-video {
  display: block;
  width: 630px;
  height: 355px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #000;
  border: 1px solid #999;

  h2, h3, p, a {
    color: $govuk-link-colour;
  }
}

a.help-video img {
  margin-top: 130px;
  border: 0;
}

a.help-video:hover {
  border: 1px solid #000;
}

a#help-video-register {
  background-image: url("help_first_frames/Register.jpg");
}

a#help-video-create-a-per {
  background-image: url("help_first_frames/Create_a_PER.jpg");
}

a#help-video-risk {
  background-image: url("help_first_frames/Risk.jpg");
}

a#help-video-healthcare {
  background-image: url("help_first_frames/Healthcare.jpg");
}

a#help-video-print-a-per {
  background-image: url("help_first_frames/Print_a_PER.jpg");
}

a#help-video-reprint-a-per {
  background-image: url("help_first_frames/Reprint_a_PER.jpg");
}

a#help-video-cancel-a-per {
  background-image: url("help_first_frames/Cancel_a_PER.jpg");
}

a#help-video-managing-user-accounts {
  background-image: url("help_first_frames/Managing_user_accounts.jpg");
}
