form {
  input.form-control,
  input.autocomplete__input,
  .autocomplete__wrapper,
  .autocomplete__menu,
  .autocomplete__option {
    @include govuk-media-query(desktop) {
      max-width: 16em;
    }
  }
}

.govuk-form-group {
  @include govuk-clearfix;
}

.remove-link {
  label {
    @extend .styled-as-link;
  }

  input[type='checkbox'] {
    position: absolute;
    left: -2000px;
  }
}

.form-actions {
  clear: both;

  button, input {
    margin-right: $padding-unit;
  }
}
