.escorts-gauges {
  margin-top: 10px;
}

.gauge_wrapper {
  float: left;
  width: 132px;
  margin-right: 10px;

  .title {
    float: left;
    font-size: 19px;
    word-wrap: break-word;
  }

  .value {
    font-size: 80px;
    font-weight: bold;
  }

  .gauge {
    position: relative;
    float: left;
    width: 2em;
    height: 2em;
    margin-top: 5px;
    clear: left;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
  }
}

.gauge_wrapper.detainees {
  .title { color: #000; }
  .value {
    color: #000;
    background-color: #fff;
  }
}

.gauge_wrapper.incomplete {
  .title { color: #b10e1e; }
  .value {
    color: #b10e1e;
    background-color: #fff;
  }
}

.gauge_wrapper.complete {
  .title { color: #008000; }
  .value {
    color: #008000;
    background-color: #fff;
  }
}
