#help {
  details summary {
    position: relative;
    display: inline-block;
    margin-bottom: .26316em;
    color: #005ea5;
    cursor: pointer;
  }

  .list-number {
    padding-left: 20px;
    list-style-type: decimal;
  }

  .list {
    margin-bottom: 20px;

    li {
      margin-bottom: 5px;
    }
  }

  details .summary {
    text-decoration: underline;
  }

  .page_contents_list {
    position: sticky;
    top: 0;
    padding-top: 25px;
    @include govuk-font(16);

    h2 {
      padding-bottom: .5em;
      font-weight: bold;
    }

    a {
      text-decoration: none;
    }

    li {
      line-height: 1.5em;
      text-decoration: none;
      list-style-type: none;
    }

    li:before {
      display: block;
      float: left;
      width: 15px;
      color: #000;
      content: "–";
    }
  }

  .help-content {
    padding-top: 25px;
  }
}

.icon {
  margin-left: 20px;
}

.blueprint {
  width: 100%;
  margin-bottom: -5px;
}

.blueprint-steps {
  display: inline-block;
  vertical-align: top;
  @include govuk-font(16);

  &.step1 {
    width: 50%;
  }

  &.step2 {
    width: 25%;
  }

  &.step3 {
    float: right;
    width: 20%;
  }
}
