ul.flags {
  margin: 0;
  padding-left: 0;

  li {
    @include govuk-font(19);
    list-style-type: none;
    padding: 2px 6px;
    display: inline-block;
    margin: 5px 5px 0 0;
    font-family: 'arial narrow', sans-serif !important;
  }
}

.flag {
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;

  .court-dashboard & {
    @include govuk-font(16);
    margin-right: 5px;
    padding: 1px 3px;
  }
}

.flag-active {
  @extend .flag;

  &:after {
    content: "✔";
    margin-left: 6px;
  }

  background-color: #B10E1E;
  border: solid 2px #B10E1E;
  color: white;
}

.flag-inactive {
  @extend .flag;

  &:after {
    content: "✘ No";
    margin-left: 10px;
  }

  background-color: white;
  border: solid 2px #BFC1C3;
  color: #0b0c0c;
  font-weight: lighter;
}

#csra-inactive {
  &:after {
    content: "✘ Standard";
  }
}


span.flag-detail {
  margin-top: 2px;
  padding-left: 6px;
  display: none;
}
