ul.flags {
  padding-left: 0;
  margin: 0;

  li {
    @include govuk-font(19);
    display: inline-block;
    padding: 2px 6px;
    margin: 5px 5px 0 0;
    font-family: 'arial narrow', sans-serif !important;
    list-style-type: none;
  }
}

.flag {
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;
}

.flag-active {
  @extend .flag;

  &:after {
    margin-left: 6px;
    content: "✔";
  }

  color: #fff;
  background-color: #b10e1e;
  border: solid 2px #b10e1e;
}

.flag-inactive {
  @extend .flag;

  &:after {
    margin-left: 10px;
    content: "✘ No";
  }

  font-weight: lighter;
  color: #0b0c0c;
  background-color: #fff;
  border: solid 2px #bfc1c3;
}

#csra-inactive {
  &:after {
    content: "✘ Standard";
  }
}


span.flag-detail {
  display: none;
  padding-left: 6px;
  margin-top: 2px;
}
