.page_contents_list {
  &__items {
    li {
      @include govuk-font(16);
      padding-right: $govuk-gutter-half;
      margin-bottom: $govuk-gutter-half;
      margin-left: $govuk-gutter-half;
      list-style: none;

      &:before {
        display: block;
        float: left;
        width: $govuk-gutter-half;
        margin-left: -$govuk-gutter-half;
        content: "–";
      }
    }

    a {
      text-decoration: none;

      &:hover, &:focus, &:active {
        text-decoration: underline;
      }
    }

    .active {
      font-weight: bold;
    }
  }
}
