.image-here,
.no-image {
  width: 128px;
  height: 180px;
  border: 1px solid $govuk-border-colour;
  background-color: govuk-colour('grey-3');
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
