.tile {

  // p {
  //   font-weight: bold;
  //   font-size: 19px;
  //   margin: 0 0;
  // }

  // h6 {
  //   font-size: 16px;
  // }

  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 10px 0 15px;
  vertical-align: top;
}

.tile-2 {
  @extend .tile;
  width: (100% / 2);
}

.tile-3 {
  @extend .tile;
  width: (100% / 3);
}

.tile-4 {
  @extend .tile;
  width: (100% / 4);
}
