- questions = %w[must_return has_must_not_return_details]

- unless views == 'escort'
  = render partial: "shared/sections/#{views}/section",
    locals: { assessment: assessment, path: path, section: section, questions: questions }

= render partial: "shared/sections/#{views}/question",
  locals: { alternance: 'even', assessment: assessment, section: section, question: 'must_return',
            value: assessment.must_return, details: must_return_details(assessment) }

= render partial: "shared/sections/#{views}/question",
  locals: { alternance: 'odd', assessment: assessment, section: section, question: 'has_must_not_return_details',
            value: assessment.has_must_not_return_details, details: assessment.must_not_return_details,
            partial: 'must_not_return_details', multiples: true }
