.header-proposition {
  width: 100%!important;
  position: relative;
}

.sign-out {
  display: inline-block;
  position: absolute;
  right: 15px;
  input {
    @extend .font-small;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: $white;
    cursor: pointer;
  }
}

.authentication {
  h1 {
    @extend .heading-large;
  }
  .heading-medium {
    @extend .heading-small;
  }
}
