.search_input_wrapper {
  .field_with_errors {
    display: inline;
  }
}

.form-label {
  font-weight: bold;
}

.button {
  margin-right: $margin-unit;
  margin-bottom: $margin-unit;
}

.button-secondary{
  @include button($grey-3);
}

.button-print {
  background-image:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAb1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8v0wLRAAAAJHRSTlMAAgUHDA0PEBkeICImKy4xN1Z3e46VrbCytLW3xdXZ4PP19/lql+ciAAAAh0lEQVQoz6XS0Q7BQBBA0cEoFqXoUoOW3v//Rg+ItkYTcZ92cx5msxmRvkK0Z8U2aULkXR0aYLxOU6hnX4DbxIEEIHdA0iwrrx60bz/CaFNUHTju5iKDC9ABYCGBz3RMLqkDIWAuwB+wanR+wBL3uXsRVT11QFWH/X8V24MrZxnMzA7r3s25A2wiIk6Al+uuAAAAAElFTkSuQmCC);
   background-repeat: no-repeat;
   background-position: 10px center;
   background-size: 20px;
   padding-left: 40px;
   padding-right: 40px;
}

.error {
  p {
    color: #b10e1e;
    font-weight: bold;
    margin-bottom: $margin-unit;
  }
}

input[type=text].form-control {
  @media (min-width: 769px) {
    max-width: 13em;
  }
}

#wrapper .panel {
  padding: 8px 0 15px 10px;
}

@media (min-width: 641px) {
  .form-hint {
    padding: 10px 0 8px 0;
  }

  legend .form-hint { padding: 0; }

  .panel > fieldset > .form-hint { padding-top: 0; }
  .panel > .form-group > .form-hint { padding-top: 0; }
}

#wrapper {
  border-bottom: 10px solid #005ea5;
}
