.header-logo {
  @extend .visuallyhidden;
}

.search_input_wrapper {
  .field_with_errors {
    display: inline;
  }
}

.form-label {
  font-weight: bold;
}

.button {
  margin-right: $margin-unit;
}

.error {
  p {
    color: #b10e1e;
    font-weight: bold;
    margin-bottom: $margin-unit;
  }
}

input[type=text].form-control {
  @media (min-width: 769px) {
    max-width: 13em;
  }
}
