.search_input_wrapper {
  .field_with_errors {
    display: inline;
  }
}

.error {
  p {
    color: #b10e1e;
    font-weight: bold;
    margin-bottom: $margin-unit;
  }
}

#wrapper .panel {
  padding: 8px 0 15px 10px;
}

#wrapper {
  border-bottom: 10px solid #005ea5;
}

#global-cookie-message {
  display: none !important;
}
