.padded {
  padding: $padding-large $padding-unit;
}

.questions-nav {
  margin-top: 2 * $margin-unit;

  span {
    margin-right: 10px;
  }
  .current-question {
    color: grey;
  }
}

select {
  @extend .form-control;
  border: 1px solid $grey-2;
  max-width: auto;
}

.styled-as-link {
  color: $govuk-blue;
  text-decoration: underline;
  padding: 0;
  border: none;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}

label[for$=_unknown] {
  background-color: transparent;
  border-color: transparent;
  padding-left: $padding-unit;
  text-decoration: underline;
  &:hover {
    border-color: transparent;
  }
  input {
    @extend .visuallyhidden;
  }
}

.js-show-hide {
  @extend .form-group;
}

.toggle_with_error {
  margin-top: 10px;
}

.text-error {
  color: red;
}

.float-right {
  float: right;
}
