.search_module {
  @extend .padded;
  border-bottom: 1px solid $grey-3;
  background-color: $grey-3;
  table {
    margin-top: $margin-unit;
    margin-bottom: $margin-unit;
    th {
      font-weight: normal;
      border: none;
    }
    td {
      border: none;
    }
    @media screen and (min-width: $responsive-break-large) {
      max-width: 85%;
    }
  }

  .strong-text {
    font-weight: bold;
  }
}

.search_block {
  h2 {
    @extend .heading-medium;
    margin: 0;
    @media screen and (min-width: $responsive-break-large) {
      position: relative;
      top: 0.1em;
      display: inline-block;
      margin-right: $margin_unit;
    }
  }

  form {
    @media screen and (min-width: $responsive-break-large) {
      display: inline-block;
      margin-right: $margin_unit;
    }
  }

  legend {
    @extend .visuallyhidden;
  }

  label {
    @media screen and (min-width: $responsive-break-large) {
      position: relative;
      top: 0.1em;
      margin-right: $margin_unit;
    }
  }

  .form-group {
    @media screen and (min-width: $responsive-break-large) {
      display: inline-block;
      width: 18em;
      float: none;
      margin-bottom: none;
    }
  }

  .search_button {
    @extend .button;
    box-shadow: none;
    line-height: 1.2;
    width: 2em;
    margin-left: 1px;
    background-image: image-url('ic_search.png');
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent;
    &:hover {
      color: transparent;
    }
  }

  .search_input_wrapper {
    @media screen and (min-width: $responsive-break-large) {
      display: inline-block;
      width: 18em;
    }
  }
  + .button {
    margin-top: $margin-unit;
  }
}

.date-picker {
  > input { float: left; }
  margin-top: 20px;

  span.label {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
  }
  .date-field input {
    max-width: 6em;
  }
  input.go {
    background-color: green;
    color: white;
    border: none;
    padding: 6px;
    margin-right: 10px;
    margin-left: 2px;
  }
  .nav-group input {
    background-color: #EFF0F1;
    border-color: #AEAEAE;
    border-width: 1px;
    border-style: solid;
    color: #3D7EB4;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-group input[value='today'] {
    text-decoration: underline;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  input[type='submit'] { cursor: pointer; }
}

.moves {
  margin-top:40px;

  span.strong-text { font-weight: bold; }
  th {
    font-weight: normal;
    font-size: 90%;
  }
  th.prisoner_number { width: 5.5em; }
  th.name { width: 12em; }

  tr:nth-child(even) {
    background-color: #F2F3F4;
  }

  span.true {
    background-color: #108245;
    border-color: #108245;
  }

  span.false {
    background-color: white;
    border-color: #DF464D;
  }

  .completion-status span {
    display: inline-block;
    width: 6em;
    height: 20px;
    border-width: 2px;
    border-style: solid;
  }
}
