.offences {
  h1 {
    @extend .heading-large;
  }

  h2 {
    font-weight: bold;
  }

  .nested-offences-field {
    @extend .column-one-quarter;
    padding-left: 0;

    .form-control {
      width: 100%;
    }
  }

  .js-checkbox-show-hide {
    margin-bottom: 30px;

    label {
      margin-bottom: 10px;
    }
  }

  .current-offences {
    margin-bottom: 30px;

    .current-offence {
      margin-bottom: 0px;

      .form-group {
        margin-bottom: 20px;
      }

      label.form-label {
        display: none;
      }

      .remove-link {
        margin-top: 5px;
      }

    }

    .current-offence:first-child {
      label {
        display: inherit;
        font-weight: normal;
      }

      .remove-link {
        margin-top: 35px;
      }
    }
  }

  .past-offences {
    .past-offence {
      label.form-label {
        display: none;
      }

      .add-past-offence {
        margin-bottom: 30px;
      }

      .remove-link {
        margin-top: 35px;
      }
    }

    .past-offence:first-child {
      label.form-label {
        display: inherit;
        font-weight: normal;
      }
    }
  }


}
