$govuk-is-ie8: true;

@import "application";

.block-label {
  float: left !important;
}

textarea.form-control {
  width: 50% !important;
}

legend {
  max-width: 100%;
}

.govuk-width-container {
  margin: 0 auto;
}
