$is-print: true;

@import "elements/reset";

@import "grid_layout";
@import "colours";
@import "elements/helpers";

@import "colours";
@import "typography";
@import "measurements";
@import "shims";
@import "elements/elements-typography";
@import "elements/layout";

body {
  background-color: white;
}

main {
  text-align: left;
  margin: 0;
  height: 29.7cm;
  width: 21cm;
  position: relative;
  @extend .font-xsmall;
}

table {
  width: 100%;
}

.strong-text {
  font-weight: bold;
}

.grid {
  margin-left: 5px;
}

.grid-row {
  margin: 0;

  &.padded {
    padding-top: 10px;
    vertical-align: top;
  }
}

.grid-column {
  padding: 0;

  .title {
    font-weight: lighter;
  }

  .image {
    text-align: right;

    .image-unavailable-text {
      position: absolute;
      font-weight: lighter;
      text-align: center;
      margin-top: 70px;
      margin-bottom: 70px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.column-one-sixth {
  @extend .column-one-third;
  width: (100% / 6);
}

.header-row {
  border-top: 2px solid black;
  border-bottom: 1px dotted black;
  font-weight: normal;
  @extend .font-medium;
  padding: 5px 0;
  height: auto;

  &.small {
    font-weight: bold;
    @extend .font-small;
  }
}

.indicators {
  padding: 10px 0;
  border-bottom: 1px dotted black;
  font-weight: bold;
}

table.vehicles {
  tr.header-row {
    height: 30px;
    th {
      border-top: 2px solid black;
      font-weight: bold;
    }
  }

  tr {
    height: 3cm;
  }

  td {
    position: relative;
    font-weight: lighter;
  }

  td.first-column {
    width: 30%;
  }

  td.second-column {
    width: 30%;
  }

  div.title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 20px;
    border-bottom: 1px dotted black;
  }
}

table.detainee {
  margin-top: 0;
  padding-bottom: 20px;

  th {
    border-top: 2px solid black;
    border-bottom: 1px dotted black;
    font-weight: normal;
    @extend .font-medium;
    padding: 5px 0;
    height: auto;
  }

  tr.indicators {
    td {
      padding: 10px 0;
      border-bottom: 1px dotted black;
      font-weight: bold;
    }
  }

  td {
    padding-top: 10px;
    vertical-align: top;

    div.title {
      font-weight: lighter;
    }

    div {
      font-weight: bold;
    }
  }

  td.image {
    text-align: right;

    .image {
      position: relative;
      float: right;
      clear: both;
      width: 128px;
      height: 180px;

      .image-unavailable-text {
        position: absolute;
        font-weight: lighter;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 70px;
        margin-left: 10px;
        margin-right: 10px;
      }

      img {
        top: 0;
        left: 0;
        height: 180px;
        width: 128px;
      }
    }
  }
}

table.move {
  clear: both;
  min-height: 200px;

  tr.header-row {
    height: 30px;
    th {
      border-top: 2px solid black;
      border-bottom: 1px dotted black;
      font-weight: bold;
      @extend .font-small;
      padding: 5px 0;
    }
  }

  td {
    padding-top: 10px;
    vertical-align: top;

    div.title {
      font-weight: lighter;
    }

    div {
      font-weight: bold;
    }
  }
}

table.about {
  border-top: 1px solid black;

  th {
    @extend .font-small;
    padding: 5px 0 20px 0;
  }

  td.panel {
    border-left: 5px solid grey;
    padding-left: 20px;

    div.first {
      font-weight: normal;
      padding-top: 0;
    }

    div {
      font-weight: lighter;
      padding-top: 5px;
    }
  }
}
