$is-print: true;

@import "elements/reset";

@import "grid_layout";
@import "colours";
@import "elements/helpers";

@import "colours";
@import "typography";
@import "measurements";
@import "shims";
@import "elements/elements-typography";
@import "elements/layout";

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }

  .inner-page-header {
    display: table-header-group;
  }

  .grid-row {
    display: block;
  }

  .grid-column {
    float: left;
  }

  .header-row {
    border-bottom: 1px dotted black;
  }

  .column-one-half {
    width: 50%;
  }

  .column-one-quarter {
    width: (100% / 4);
  }

  .column-one-third {
    width: (100% / 3);
  }

  .column-one-sixth {
    width: (100% / 6);
  }

  .section-sub-table {
    page-break-inside: avoid;
  }
}

body {
  background-color: white;
}

main {
  text-align: left;
  margin: 0;
  position: relative;
  @extend .font-xsmall;
}

table {
  width: 100%;
}

.strong-text {
  font-weight: bold;
}

.title {
  font-weight: lighter;
}

.grid {
  margin-left: 5px;
}

.grid-row {
  margin: 0;

  &.padded {
    padding-top: 10px;
    vertical-align: top;
  }

  &.padded-bottom {
    padding-bottom: 10px;
  }
}

.grid-column {
  padding: 0;

  .image {
    text-align: right;

    .image-unavailable-text {
      position: absolute;
      font-weight: lighter;
      text-align: center;
      margin-top: 70px;
      margin-bottom: 70px;
      margin-left: 45px;
      margin-right: 10px;
    }
  }
}

.column-one-sixth {
  @extend .column-one-third;
  width: (100% / 6);
}

.column-20-percent {
  width: 20%;
}

.column-30-percent {
  width: 30%;
}

.column-50-percent {
  width: 50%;
}

.column-70-percent {
  width: 70%;
}

.section {
  position: relative;
  min-height: 50px;
}

.section-table {
  border-top: 2px solid black;
  border-collapse: collapse;

  td {
    font-weight: lighter;
    padding: 0.3em 0;
    vertical-align: top;
    text-align: left;
  }

  td.indented {
    padding-left: 5px;
  }
}

.section-sub-table {
  border-collapse: collapse;
}

.header-row {
  border-top: 2px solid black;
  border-bottom: 1px dotted black;
  font-weight: normal;
  @extend .font-medium;
  padding: 5px 0;
  height: auto;

  &.small {
    font-weight: bold;
    @extend .font-small;
  }
}

.top-border {
  border-top: 2px solid black;
  padding-top: 5px;
}

.top-dotted {
  border-top: 1px dotted black;
}

.bottom-dotted {
  border-bottom: 1px dotted black;
}

.min-heighted {
  min-height: 100px;
}

.watermark {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0.5;
  z-index: 99;
  color: grey;
  @extend .font-xlarge;
  font-weight: bold;
}

.footer {
  page-break-after: always;
}

.indicators {
  padding: 10px 0;
}

.alert-off {
  display: inline-block;
  border: 2px solid $secondary-text-colour;
  background-color: white;
  text-transform: uppercase;
  padding: 0.2em 0.5em;
  color: $secondary-text-colour;
  font: 15px "Arial Narrow";
  font-weight: bold;

  .alert-toggle-text {
    padding-left: 5px;
    text-transform: uppercase;
    font: 15px "Arial Narrow";
    font-weight: bold;
  }
}

.alert-on {
  //border: 2px solid $mellow-red;
  background-color: $mellow-red !important;
  position: relative;
  display: inline-block;

  .alert-title {
    text-transform: uppercase;
    padding: 0.5em 0.5em;
    color: white;
    font: 15px "Arial Narrow";
    font-weight: bold;
    position: relative;
    float: left;
  }

  img {  }

  .alert-toggle-text {
    padding: 0 5px;
    margin-top: 3px;
    margin-right: 3px;
    background-color: white;
    color: $mellow-red;
    text-transform: uppercase;
    font: 15px "Arial Narrow";
    font-weight: bold;
    position: relative;
    float: left;
  }
}

.alert-text {
  display: block;
  padding-top: 5px;
}

table.vehicles {
  tr.header-row {
    height: 30px;
    th {
      border-top: 2px solid black;
      font-weight: bold;
    }
  }

  tr {
    height: 3cm;
  }

  td {
    position: relative;
    font-weight: lighter;
  }

  td.first-column {
    width: 30%;
  }

  td.second-column {
    width: 30%;
  }

  div.title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 20px;
    border-bottom: 1px dotted black;
  }
}

table.detainee {
  margin-top: 0;
  padding-bottom: 20px;

  th {
    border-top: 2px solid black;
    border-bottom: 1px dotted black;
    font-weight: normal;
    @extend .font-medium;
    padding: 5px 0;
    height: auto;
  }

  tr.indicators {
    td {
      padding: 10px 0;
      border-bottom: 1px dotted black;
      font-weight: bold;
    }
  }

  td {
    padding-top: 10px;
    vertical-align: top;

    div.title {
      font-weight: lighter;
    }

    div {
      font-weight: bold;
    }
  }

  td.image {
    text-align: right;

    .image {
      position: relative;
      float: right;
      clear: both;
      width: 128px;
      height: 180px;

      .image-unavailable-text {
        position: absolute;
        font-weight: lighter;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 70px;
        margin-left: 10px;
        margin-right: 10px;
      }

      img {
        top: 0;
        left: 0;
        height: 180px;
        width: 128px;
      }
    }
  }
}

table.move {
  clear: both;
  min-height: 200px;

  tr.header-row {
    height: 30px;
    th {
      border-top: 2px solid black;
      border-bottom: 1px dotted black;
      font-weight: bold;
      @extend .font-small;
      padding: 5px 0;
    }
  }

  td {
    padding-top: 10px;
    vertical-align: top;

    div.title {
      font-weight: lighter;
    }

    div {
      font-weight: bold;
    }
  }
}

table.about {
  border-top: 1px solid black;

  th {
    @extend .font-small;
    padding: 5px 0 20px 0;
  }

  td.panel {
    border-left: 5px solid grey;
    padding-left: 20px;

    div.first {
      font-weight: normal;
      padding-top: 0;
    }

    div {
      font-weight: lighter;
      padding-top: 5px;
    }
  }
}
