/[if lte IE 8]
  = stylesheet_link_tag 'main-ie8', media: 'all'

/[if gt IE 8]
  |<!-->
  = stylesheet_link_tag 'main', media: 'all'
  |<!--

/[if lt IE 9]
  = javascript_include_tag 'html5shiv/dist/html5shiv'
